.add-form{
    width: 750px;
    padding: 10px 10px 50px 10px;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: #eefde4;
    height: 300px;
}

h1{
    text-align: center;
}

.btn{
    margin: 20 auto 0 auto;
}

label{
    width: 150px;
    display: inline-block;
}